<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.groupstp.workflowstp"/>

    <!-- Overriden beans-->
    <bean id="cuba_EntityImportExport" class="com.groupstp.workflowstp.core.bean.ExtEntityImportExport"/>
    <bean id="cuba_EntityImportExportService" class="com.groupstp.workflowstp.service.ExtEntityImportExportServiceBean"/>

    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="wfstp_WorkflowWorker" method="performWorkflowHeartbeat" fixed-rate="${wfstp.heartbeatMs}"/>
    </task:scheduled-tasks>
</beans>
